body, p, li, a { 
	font-family: arial, georgia, times, serif;
	font-size:11pt;
}

h1, h2, h3 { 
	font-family: 'Yanone Kaffeesatz', arial, serif; 
}

body {
	margin: 0;
	padding: 70px 0px 0px 0px;
}

a, a:visited, a:hover, a:active {
	font-family: arial;
	color : #6493D2;
}
h2 {
	padding : 0; 
	margin:0;
	font-size:36pt;
	color:#FF5500;
}
h3 {
	padding : 0; 
	margin:0;
	font-size:24pt;
	color:#092E67;
}

dd {
	margin-bottom: 10px;
}

#summarytext {
	resize: none;
}

#addbutton {
	width: 100px;
}

#ppltabpanel {
	/* border: 1px solid #DDD; */
	border-radius: 4px;
	margin-bottom: 20px;
}

#ppltabpanelhead {
	padding: 0.5px 0px;
}

#animeInfoPanel {
	margin-top: 20px;
}

#animeCover {
	width: 350px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#carousel {
	height: 600px;
}

#slideimg {
	max-height: 600px;
}